@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido, elija la clase que desea utilizar</h1>
    <ul>
        <li><a href="#">Empresa</a></li>
        <li><a href="#">Departamento</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Documento</a></li>
        <li><a href="#">Tipo de Documento</a></li>
        <li><a href="#">Persona</a></li>
        <li><a href="#">Empleado</a></li>
        <li><a href="#">Cliente</a></li>
        <li><a href="#">Prestamo</a></li>
    </ul>
    
</div>
